@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap'); 



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* index page css for mobile */
body{
    background-color: rgb(0, 0, 0);
}

.menu{
border-top: 0rem;
width: 30%;
margin: auto;



    }

    .menu img{
       width: 8rem;
       margin-top: 1rem;
       display: none;
       
    }
    .menu .text1{
        color: white;
        font-size: 5em;
        padding-top: 0rem;
        padding-left: 8rem;
        font-family: 'Balsamiq Sans', cursive;
        padding-left: 0rem;
    }
    ul{
       display: flex;
       /* justify-content: center; */
       /* position: absolute; */
    }
    ul li{
       /* display: none; */
       padding: 1rem;
       cursor: pointer;
       list-style: none;
       
        
    }
    ul li:hover{
       
    }
    ul li a{
      color: white;
      text-decoration: none;
    }
    ul li a:hover{
     
    }
    
    .menu  em{
      
     }    

     .items{
        display: flex;
        flex-direction: column;
        background-image: url("images/HOME5.png") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 99vw,80vh;
        /* position: absolute; */
        position: fixed;
        width: 99vw;
        height: 80vh;
        align-items: center;
        justify-content: center;

        }
        em .text1{
            color: black;
            font-size: 5rem;
            
        }
        
        .items button{
            display: block;
            padding: 1rem ;
            width: 10rem;
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            background-color: red;
            text-align: center;
          
          }

          .items button:hover{
            display: block;
            padding: 1rem ;
            width: 16rem;
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            background-color: rgb(255, 0, 0);
            text-align: center;
          
          }
          .items button a{
              color: white;
              text-decoration: none;
             text-align: center;
              font-size: 2rem;
          }
          .items button a:hover{
            color: rgb(255, 253, 253);
            text-decoration: none;
           text-align: center;
            font-size: 2rem;
            
        }
          .items em{
          color: rgb(46, 41, 41);
          background-color: rgb(255, 255, 255);
          display: block;
          width: 15rem;
          padding: 1rem;
          border-radius: 1rem;
          font-size: 1.5rem;
          text-align: center;
          }
