@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap'); 

/* navbar */
.container-fluid {
    background-color: #000000;
}
 
.items{
        display: flex;
        flex-direction: column;
        background-image: url("images/home.png") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 99vw,80vh;
        /* position: absolute; */
        position: fixed;
        width: 99vw;
        height: 80vh;
        align-items: center;
        justify-content: center;

        }
        em .text1{
            color: black;
            font-size: 5rem;
            
        }
        
        .items button{
            display: block;
            padding: 1rem ;
            width: 10rem;
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            background-color: red;
            text-align: center;
            margin-bottom: 1%;
          }

          .items img {
            margin: 3%;
          }

          .items button:hover{
            display: block;
            padding: 1rem ;
            width: 16rem;
            padding: 1rem;
            border-radius: 1rem;
            border: none;
            background-color: rgb(255, 0, 0);
            text-align: center;
          
          }
          .items button a{
              color: white;
              text-decoration: none;
             text-align: center;
              font-size: 2rem;
          }
          .items button a:hover{
            color: rgb(255, 253, 253);
            text-decoration: none;
           text-align: center;
            font-size: 2rem;
            
        }
          .items em{
          color: rgb(46, 41, 41);
          background-color: rgb(255, 255, 255);
          display: block;
          width: 15rem;
          padding: 1rem;
          border-radius: 1rem;
          font-size: 1.5rem;
          text-align: center;
          }

/* animation */
.items{
    /* position:absolute; */
    background-position-x: center;
    background-size: cover;
    animation: enlivens 5s linear infinite;
    width: 100%;
    height: 100%;
}
@keyframes enlivens {
    0%,100%{
        transform: scale(1);
    }
50%{
    transform: scale(1.03);
}
}
span[id='star']{
    position:absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1),0 0 0 2px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
span[id='star']::before{
    content:'';
    position: absolute;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
    transform: translateY
     (-50%);
}

@keyframes animate {
    0%{
        transform: rotate(315deg) translate(0);
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translate(-1000px);
    }
}

span[id='star']:nth-child(2){
    top:0;
    right: 0;
    /* left: initial; */
    animation-delay: 0.2;
    animation-duration: 5s;
}

span[id='star']:nth-child(3){
    top:0;
    right: 3rem;
    /* left: initial; */
    animation-delay: 0.7;
    animation-duration: 2s;
}


span[id='star']:nth-child(4){
    top:0;
    right: 15rem;
    /* left: initial; */
    animation-delay: 0.3;
    animation-duration: 4s;
}

span[id='star']:nth-child(5){
    top:0;
    right: 50rem;
    /* left: initial; */
    animation-delay: 0.8;
    animation-duration: 2s;
}


span[id='star']:nth-child(6){
    top:0;
    right: 60rem;
    /* left: initial; */
    animation-delay: 0.2;
    animation-duration: 2s;
}

span[id='star']:nth-child(7){
    top:0;
    right: 70rem;
    /* left: initial; */
    animation-delay: 0.3;
    animation-duration: 6s;
}


span[id='star']:nth-child(8){
    top:0;
    right: 80rem;
    /* left: initial; */
    animation-delay: 0.7;
    animation-duration: 4s;
}

span[id='star']:nth-child(9){
    top:0;
    right: 30rem;
    /* left: initial; */
    animation-delay: 0.1;
    animation-duration: 3s;
}
span[id='star']:nth-child(10){
    top:0;
    right: 50rem;
    /* left: initial; */
    animation-delay: 0.3;
    animation-duration: 2s;
}
span[id='star']:nth-child(11){
    top:0;
    right: 40rem;
    /* left: initial; */
    animation-delay: 0.8;
    animation-duration: 1s;
}
span[id='star']:nth-child(12){
    top:0;
    right: 50rem;
    /* left: initial; */
    animation-delay: 0.3;
    animation-duration: 5s;
}
span[id='star']:nth-child(13){
    top:0;
    right: 35rem;
    /* left: initial; */
    animation-delay: 0.4;
    animation-duration: 4s;
}


span[id='star']:nth-child(14){
    top:0;
    right: 43rem;
    /* left: initial; */
    animation-delay: 0.8;
    animation-duration: 2s;
}

span[id='star']:nth-child(15){
    top:0;
    right: 1rem;
    /* left: initial; */
    animation-delay: 0.7;
    animation-duration: 3s;
}

span[id='star']:nth-child(16){
    top:6rem;
    right:0;
    /* left: initial; */
    animation-delay: 0.6;
    animation-duration: 3s;
}

span[id='star']:nth-child(17){
    top:20rem;
    right: 0;
    /* left: initial; */
    animation-delay: 0.5;
    animation-duration: 4s;
}
span[id='star']:nth-child(18){
    top:40rem;
    right: 0;
    /* left: initial; */
    animation-delay: 0.4;
    animation-duration: 2s;
}
span[id='star']:nth-child(19){
    top:06rem;
    right: 0;
    /* left: initial; */
    animation-delay: 0.5;
    animation-duration: 6s;
}
span[id='star']:nth-child(20){
    top:0rem;
    right:3rem;
    /* left: initial; */
    animation-delay: 0.4;
    animation-duration: 9s;
}
span[id='star']:nth-child(21){
    top:2rem;
    right: 0;
    /* left: initial; */
    animation-delay: 0.2;
    animation-duration: 1s;
}
span[id='star']:nth-child(22){
    top:0rem;
    right: 10rem;
    /* left: initial; */
    animation-delay: 0.5;
    animation-duration: 2s;
}
span[id='star']:nth-child(23){
    top:0rem;
    right: 50rem;
    /* left: initial; */
    animation-delay: 0.4;
    animation-duration: 3s;
}
span[id='star']:nth-child(24){
    top:0rem;
    right: 40rem;
    /* left: initial; */
    animation-delay: 0.3;
    animation-duration: 7s;
}
span[id='star'][id='star']:nth-child(25){
    top:0rem;
    right: 80rem;
    /* left: initial; */
    animation-delay: 0.5;
    animation-duration: 5s;
}



/* about page */

.aboutsec{
    width: 95vw;
    height: 85vh;
    display: flex;
    }
    .aboutsec .profile{
        width: 54vw;
        padding: 3rem;
        margin: 3rem;
    /* height: 85vh; */
    }
    .aboutsec .profile img{
    display: block;
    width: 25rem;
    border-radius: 1rem;
    cursor:pointer;
    }
    .aboutsec .protext{
         padding: 3rem;
         margin: 3rem;
    
    }
    
    .aboutsec .protext em{
    font-size: 3rem;
    color: rgb(116, 116, 205);
     
    }
    
    .aboutsec .protext p {
    
        font-size: 1.5rem;
        color: white;
    }
    


/* work page */
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h1{
color: rgb(0, 41, 77);
margin-top: 2rem;
font-size: 3rem;
margin-bottom: 0%;

}
.heading .hello{
    margin-top: 0%;
    color: rgb(0, 41, 77);
    font-size: 2rem;
    margin-bottom: 2rem;
}


.container{
/* width: 100vw; */
padding: 4rem;
display: grid;
column-gap: 50px;
row-gap: 50px;
grid-template-columns: auto auto auto;

}

.container .box img{
    width: 24rem;
    height:100%;
    background: red;
    transition: width 2s, height 4s;
    /* z-index: -1; */
}
.container .box img:hover{
    width: 60rem;

    /* z-index: 1; */
}

/* service page css */

.services_main{
 width: 95vw;
 padding: 8rem;




}
.services_main .s1,.s2,.s3,.s4{
    display: flex;
}


.services_main .s1 img{
 width: 40rem;
 border-radius: 100%;
}
.services_main .s2 img{
    width: 40rem;
    border-radius: 50%;
   }
   .services_main .s3 img{
    width: 40rem;
    border-radius: 50%;
    
   }
   .services_main .s4 img{
    width: 40rem;
    border-radius: 50%;
   }
         

   .services_main .s1 h1{
    width: 40rem;
    color: white;
    font-size: 4rem;
display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
   }
   .services_main .s2 h1{
       width: 60rem;
       color: white;
       font-size: 4rem;
       display: flex;
           justify-content: center;
           align-items: center;
       font-family: 'Balsamiq Sans', cursive;
      }
      .services_main .s3 h1{
       width: 40rem;
color: white;
font-size: 3rem;
display: flex;
    justify-content: center;
    align-items: center;
       font-family: 'Balsamiq Sans', cursive;
      }
      .services_main .s4 h1{
        font-family: 'Balsamiq Sans', cursive;
        font-size: 4rem;
        display: flex;
            justify-content: center;
            align-items: center;
       width: 60rem;
       color: white;
      }
            

/* contact page css */
.contact_main{
    width: 90vw;
    padding: 6rem;
    display: flex;
}


.contact_main .image img{
    width: 40rem
    
}

.contact_main .contact{
    padding-left: 5rem;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
}
.contact_main .contact h2{
    color: rgb(255, 255, 255);
padding-bottom: 2rem;
font-family: 'Balsamiq Sans', cursive;
    font-size: 4rem;
}







































/* Mobile styles */
@media only screen and (max-width: 600px) {
    /* Change font-size for menu items */
    .menu ul li a {
      font-size: 1.5rem;
    }
    /* Change padding for menu items */
    .menu ul li a {
      padding: 0.5rem;
    }
    /* Change font-size for menu logo */
    .menu em {
      font-size: 3rem;
    }
    /* Change font-size for button text */
    .items button a {
      font-size: 1.5rem;
    }
    /* Change width for button */
    .items button {
      width: 8rem;
    }
    /* Change padding for phone number */
    .items em {
      padding: 0.5rem;
    }
  }
      