<html>

<head>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
           {%for obj in object%}
            <tr>
              <th scope="row">{{obj.id}}</th>
              <td>{{obj.name}}</td>
              <td>@{{obj.email}}</td>
              <td>{{obj.message}}</td>
            </tr>
            {%endfor%}
          </tbody>
    </table>
</body>
</html>